    .icon_navigation {
        stroke: var(--black);
    }    

    .icon__cross,
    .button_navigation-open .icon__menu {
        display: none;
    }
    .icon__menu,
    .button_navigation-open .icon__cross {
        display: block;
    }