.navigation {
    list-style: none;
    &__list {
        display: none;
        &_open {
            display: block;
        }
    }
    &__link {
        display: block;
        font-size: 100%;
        color: var(--white);
        padding: 10px;
        border-bottom: 1px solid grey;
        text-decoration: none;
    }
}